{% load url from future %}
{% for node in nodes %}
<div data-role="controlgroup" data-type="horizontal" data-mini="true">
	<a data-role="button"
	{% ifequal node.pk active.pk %} class="ui-btn-active"{% endifequal %}
	{% if direction %} data-direction="{{ direction }}" {% endif %}
	{% if transition %} data-transition="{{ transition }}" {% endif %}
	href="{% spaceless %}
	{% if parent %}
		{% url 'node' pk=node.pk parent_pk=parent.pk %}
	{% else %}
		{{ node.get_absolute_url }}
	{% endif %}
	{% endspaceless %}">
		{{ node.title }}
	</a>
	<a data-role="button" data-icon="delete" data-iconpos="notext"
	href="{% url 'relation#delete' type=relation pk=object.pk related_pk=node.pk %}" >Delete</a>
</div>
{% endfor %}